.profile-section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.account {
  background: #f5f5f5;
  padding: 2rem;
  border: 2px solid var(--primary-color2);
}

.account-details a {
  color: black;
}

.f-item {
  width: 290px;
}

@media only screen and (max-width: 900px) {
  .profile-section {
    font-size: 15px;
  }
}
