footer {
  background: var(--dark2);
  font-size: 1.2rem;
  position: relative;
  font-size: 1.5rem;
  line-height: 1.5;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

footer a {
  color: white;
  font-size: 95%;
}
.foot_contents {
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-around;
  color: white;
}

.foot_contents h4 {
  color: var(--primary-color);
}

.foot_social img {
  font-size: 15px;
  height: 30px;
  width: 30px;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.6s;
}
.foot_social img:hover {
  transform: translateY(-5px);
}

@media only screen and (max-width: 800px) {
  .foot_contents a {
    font-size: 78%;
  }

  .foot_contents h4 {
    font-size: 80%;
  }
}

@media only screen and (max-width: 660px) {
  footer {
    line-height: 1;
  }
  .foot_contents a {
    font-size: 82%;
  }
  .foot_contents {
    flex-direction: column;
    text-align: center;
  }
  .foot_contents h4 {
    margin-top: 1.2rem;
  }
}
