.main-section-flex {
  display: flex;
}

@media only screen and (max-width: 755px) {
  .main-section-flex {
    flex-direction: column;
    justify-content: space-around;
  }
}

.pagination-flex-container {
  display: flex;
  justify-content: space-between;
}

.pagination-flex-container div {
  background: var(--dark2);
  color: white;
}
