nav {
  background: var(--dark2);
  padding-bottom: 0.5rem;
}

.logo-container {
  padding-left: 1rem;
  padding-bottom: 0.5rem;
}

.logo {
  font-size: 4.5rem;
  display: block;
  border-bottom: 2px solid var(--primary-color);
}
.logo i {
  color: var(--primary-color);
}

.nav-links a:hover {
  color: var(--primary-color-light);
  text-decoration: underline;
}

.nav-links a {
  text-transform: uppercase;
  font-size: 1.5rem;
}
.list,
.list li {
  display: inline-block;
}

.list li a {
  display: block;
  padding: 0.3rem 1.3rem;
}

@media only screen and (max-width: 600px) {
  nav {
    text-align: center;
  }
  .logo-container {
    display: block;
    text-align: center;
  }

  .logo {
    font-size: 3.5rem;
    display: inline-block;
  }

  .float-right {
    float: none;
  }

  .list,
  .list li {
    display: inline-block;
    margin-bottom: 0.5rem;

    text-transform: uppercase;
  }
  .list {
    text-align: center;
  }

  .list li a {
    padding: 0.3rem 1.3rem;
  }

  nav .btn {
    margin-bottom: 1rem;
    border: none;
    display: block;
  }

  .nav-links a {
    text-transform: uppercase;
    font-size: 1.35rem;
  }

  .last-link {
    display: block;
  }
}

nav a {
  color: white;
}
