.side_nav {
  background: var(--primary-color-light);
  width: 180px;
  padding-top: 2rem;
  margin-right: 1rem;
  color: white;
}

.side_nav > * {
  padding-left: 20%;
}
.user-info img {
  border-radius: 50%;
}
.user-info h3 {
  color: white;
}

.user-info span {
  color: yellowgreen;
}
.side_nav ul {
  list-style-type: none;
}

.side_nav .icon {
  display: inline-block;
  width: 2rem;
  margin-right: 1rem;
  text-align: center;
  font-size: 1rem;
}
.side_nav a {
  color: white;
  display: block;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-bottom: 1px;
  font-size: 1.35rem;
}
.side_nav a:hover {
  background: var(--primary-color-light2);
}

@media only screen and (max-width: 755px) {
  .side_nav {
    margin: 0px auto;
    background: gainsboro;
    text-align: center;
  }
  .side_nav .user-info h3 {
    color: black;
  }

  .side_nav a {
    display: none;
  }

  .side_nav > * {
    padding-left: 0;
  }
}
@media only screen and (max-width: 599px) {
  .side_nav {
    width: 48%;
  }
  .side_nav ul li a {
    font-size: 1.6rem;
  }
}
