*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}
:root {
  --primary-color: greenyellow;
  --primary-color3: #ff7730;
  --primary-color2: #144499;
  --primary-color-light: #2196f3;
  --dark: #222632;
  --dark2: #144499;
  --dark3: #28b485;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: "Varela Round", sans-serif;
  /* padding: 0.5rem; */
  /* background: #f5f5f5; */
  /* background: yellowgreen; */
  /* padding: 1rem; */
}

main {
  /* background: #6515dd; */
  /* background: url("../../../images/bank.jpg") no-repeat center center/cover; */
  /* background: linear-gradient(to right bottom, rgba(#28b485, 0.801), rgba(#7ed56f, 0.801)),
    url("../../../images/bank.jpg"); */
  /* background: #ff7730; */
  /* background-image: linear-gradient(to right bottom, #ff7830af, #ffbb008c); */
  /* background: greenyellow; */
  padding-right: 1rem;
}

a {
  color: var(--dark2);
  text-decoration: none;
}

.wrapper {
  max-width: 120rem;
  margin: 0px auto;
}

.heading-1 {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  margin: 2rem 0rem;
  color: var(--dark2);
}

.heading-3 {
  color: var(--dark2);
  font-size: 1.7rem;
}

.bg-green {
  background: yellowgreen;
}

.bg-red {
  background: orangered;
}

.bg-orange {
  background: orange;
}
.green {
  color: yellowgreen;
}

.red {
  color: orangered;
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 52.5%;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 57.5%;
  }
}
