*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: greenyellow;
  --primary-color2: #144499;
  --primary-color-light: #565695;
  --primary-color-light2: #aeaed1;
  --dark: #222632;
  --dark2: #343477;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: "Roboto";
}

main {
  padding-right: 1rem;
}

a {
  color: var(--dark2);
  text-decoration: none;
}

.wrapper {
  max-width: 120rem;
  margin: 0px auto;
}

.heading-1 {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  margin: 2rem 0rem;
  color: var(--dark2);
}

.heading-3 {
  color: var(--dark2);
  font-size: 1.7rem;
}

.bg-green {
  background: yellowgreen;
}

.bg-red {
  background: orangered;
}

.bg-orange {
  background: orange;
}
.green {
  color: yellowgreen;
}

.red {
  color: orangered;
}

.white {
  color: white;
}
