.float-right {
  float: right;
}

.float-left {
  float: left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.margin-top-small {
  margin-top: 1.5rem;
}

.mt-8 {
  margin-top: 8rem;
}

.mb-8 {
  margin-bottom: 8rem;
}
.margin-bottom-small {
  margin-bottom: 1.5rem;
}

.margin-bottom-medium {
  margin-bottom: 2.5rem;
}

.center-horizontal {
  display: inline-block;
  margin: 0px auto;
}

.margin-top-big {
  margin-top: 9rem;
}

.margin-top-medium {
  margin-top: 6rem;
}

.margin-bottom-big {
  margin-bottom: 10rem;
}

.padding-top-small {
  padding-top: 1.5rem;
}

.padding-top-big {
  padding-top: 9rem;
}
.padding-bottom-big {
  padding-bottom: 9rem;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.align-center {
  text-align: center;
}

.active-page {
  background: yellowgreen;
}

.flexbox-container {
  display: flex;
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}
.center-text {
  text-align: center;
}

.view-account {
  border: 2px solid orange;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  border-radius: 0.5rem;
}
@media only screen and (max-width: 900px) {
  .view-account {
    display: inline-block;
    margin-top: 0.5rem;
  }
}

.view-account:hover {
  cursor: pointer;
}

.box-shadow {
  box-shadow: 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
}

.box-shadow-1 {
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.2);
}
