.float-right {
  float: right;
}

.float-left {
  float: left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.margin-top-small {
  margin-top: 1.5rem;
}

.mt-8 {
  margin-top: 8rem;
}

.mb-8 {
  margin-bottom: 8rem;
}
.margin-bottom-small {
  margin-bottom: 1.5rem;
}

.margin-bottom-medium {
  margin-bottom: 2.5rem;
}

.center-horizontal {
  display: inline-block;
  margin: 0px auto;
}

.margin-top-big {
  margin-top: 9rem;
}

.margin-top-medium {
  margin-top: 6rem;
}

.margin-bottom-big {
  margin-bottom: 10rem;
}

.padding-top-small {
  padding-top: 1.5rem;
}

.padding-top-big {
  padding-top: 9rem;
}
.padding-bottom-big {
  padding-bottom: 9rem;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.align-center {
  text-align: center;
}

.active-page {
  background: yellowgreen;
}
