.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  visibility: hidden;
  transition: all 0.3s;
}

.popup_content {
  padding: 1.5rem;
  width: 300px;
  margin: 50px auto;
  background: white;
  text-align: center;
}

.popup_content p {
  margin-bottom: 1rem;
}

/* Cashier  */
.popup_content .transaction .enter-amount {
  width: 40%;
  display: inline-block;
  margin: 0 auto;
}

.new-acct-popup .popup_content {
  text-align: left;
}

.new-acct-popup .popup_content form {
  border: none;
}
