.table_container th,
.table_container td {
  padding: 1.5rem 2.5rem;
}

table {
  margin: 0 auto;
}

tr:nth-child(even) {
  background: rgb(226, 221, 221);
}

@media only screen and (max-width: 900px) {
  .table_container th,
  .table_container td {
    padding: 1rem 0rem;
    font-size: 1.2rem;
  }
}
