.table_container th,
.table_container td {
  padding: 0.5rem 2.5rem;
  border: 1px solid orange;
}

.table_container {
  overflow-x: auto;
  overflow-y: auto;
}

table {
  margin: 0 auto;
}

th {
  color: orange;
}

@media only screen and (max-width: 900px) {
  .table_container th,
  .table_container td {
    padding: 0.2rem 2rem;
    font-size: 80%;
  }
}
