.table_container th,
.table_container td {
  padding: 1.5rem 2.5rem;
}

.table_container {
  overflow-x: auto;
  overflow-y: auto;
}

table {
  margin: 0 auto;
}

tr:nth-child(even) {
  background: rgb(179, 172, 172);
}

@media only screen and (max-width: 900px) {
  .table_container th,
  .table_container td {
    padding: 1.2rem 2rem;
  }
}
