.trans-column {
  width: 100%;
}

.trans-block {
  margin-bottom: 1rem;
  display: flex;
}

.type-symbol {
  position: relative;
  height: 3rem;
  width: 3rem;
  font-size: 3.5rem;
  margin: 0.5rem;
  border-radius: 50%;
}

.trans-details {
  padding-left: 1rem;
  background: #f5f5f5;
  width: 100%;
  line-height: 1.2;
  letter-spacing: 2px;
  padding: 1rem;
}

.teller-content-container {
  display: flex;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
}
.teller-content-container .teller-item {
  flex: 1;
  text-align: center;
}
@media only screen and (max-width: 700px) {
  .teller-content-container {
    flex-direction: column;
  }

  .teller-content-container .teller-item {
    text-align: left;
  }
}
