@import "./modules/base/_base.css";
@import "./modules/base/_utilities.css";
@import "./modules/layout/_navigation.css";
@import "./modules/components/_button.css";
@import "./modules/pages/_login.css";
@import "./modules/pages/_signin.css";
@import "./modules/pages/_signup.css";
@import "./modules/components/_form.css";
@import "./modules/pages/_account-list.css";
@import "./modules/components/_table.css";
@import "./modules/components/_transactions.css";
@import "./modules/components/_popup.css";
@import "./modules/pages/_profile.css";
@import "./modules/layout/_footer.css";

/* .display-table {
  display: table;
  width: 100%;
}
.cell,
.cell {
  display: table-cell;
  border: 1px solid black;
  height: 100%;
} */
