*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #144499;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  font-family: "Varela Round", sans-serif;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

.wrapper {
  max-width: 120rem;
  margin: 0px auto;
}

.heading-1 {
  font-size: 4rem;
  font-weight: 300;
  text-align: center;
  margin: 2rem 0rem;
  color: var(--primary-color);
}
